@import 'variables';

.order-grid {
    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        margin-left: -$spacer * 2;
    }
}

.order-grid__col {
    margin-bottom: $spacer * 2;

    @media (min-width: $break-point--small) {
        flex: 1;
        margin-left: $spacer * 2;
        margin-bottom: 0;
    }
}

.order__label,
.order__graph__description {
    display: block;
    font-family: $font-family-button;
    text-transform: uppercase;
    color: $brand-grey-light;
}

.order__actions {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.order__graph {
    margin-bottom: $spacer;
}

.order__graph__label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $spacer / 4;
}

.order__graph__description {
    font-size: $font-size-small;
}

.order-full {
    .order__symbol,
    .order__change {
        font-size: $font-size-h4;
    }

    .order__change {
        text-align: left;
    }

    .order__img {
        height: 400px;
    }
}
