@import 'variables';

.unavailable {
    composes: app from '../../App.module.scss';
    align-items: center;
    justify-content: center;

    > div {
        max-width: 35rem;
        padding: $spacer / 2;
    }

    h1 {
        margin-top: 0;
        font-size: $font-size-h3;
    }

    p {
        color: $brand-grey-light;
    }
}
