@import 'variables';

.asset {
    padding: $spacer / 2;
    background: $brand-white;
    outline: 0;
    border-radius: .1rem;
    border: 0;
    margin-bottom: $spacer / 2;
    color: $brand-grey;
    font-size: $font-size-base;
    text-align: left;
    position: relative;
    cursor: pointer;

    &:before {
        content: '';
        display: block;
        background: $brand-grey-light;
        position: absolute;
        left: -.1rem;
        right: -.1rem;
        top: -.1rem;
        bottom: -.1rem;
        z-index: -1;
        border-radius: .15rem;
    }

    &:hover,
    &:focus {
        &:before {
            background: $brand-gradient;
        }
    }

    &:active {
        transition: none;
        background: $brand-black;

        * {
            color: $brand-white;
        }
    }
}

.asset__header {
    margin-bottom: $spacer / 2;
}

.asset__title {
    margin: 0;
    font-size: $font-size-h5;
    color: $brand-purple;
}

.asset__description {
    margin: 0;
    margin-top: $spacer / 6;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

.asset__img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: $spacer / 2;
}

.asset__meta {
    margin-top: $spacer / 2;
}

.asset__publisher,
.asset__date,
.asset__id {
    font-size: $font-size-small;
    color: $brand-grey-light;
}

.asset__ticker {
    margin-top: $spacer / 2;
    padding-top: $spacer / 2;
    border-top: 1px solid $brand-grey-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;

    > div {
        flex: 1;
    }
}

.asset__price {
    font-size: $font-size-h4;
    margin-bottom: $spacer / 2;
}

.asset__change {
    text-align: right;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 8px 5px;
        display: inline-block;
        margin-right: $spacer / 8;
        position: relative;
        top: -.1rem;
    }

    &.positive {
        color: $green;

        &:before {
            border-color: transparent transparent $green transparent;
        }
    }

    &.negative {
        color: $red;

        &:before {
            border-width: 8px 5px 0 5px;
            border-color: $red transparent transparent transparent;
        }
    }
}
