@import 'variables';

.assets {
    counter-reset: assets;

    @media (min-width: $break-point--small) {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
        margin-left: -($spacer / 2);
    }
}

.assets__tile {
    margin-bottom: $spacer / 2;

    @media (min-width: $break-point--medium) {
        flex: 0 0 calc(50% - #{$spacer});
        margin-left: $spacer / 2;
    }

    @media (min-width: $break-point--large) {
        flex-basis: calc(33.3333333% - #{$spacer});
    }

    a {
        display: block;
        height: 100%;
    }

    button {
        width: 100%;
        margin-top: $spacer / 2;
    }
}
