@import 'variables';

.assets {
    @media (min-width: $break-point--small) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        margin: -($spacer / 2);
    }
}

.assets__tile {
    margin-bottom: $spacer;
    height: 100%;
    outline: 0;

    @media (min-width: $break-point--small) {
        margin: $spacer / 2;
    }
}
