@import 'variables';

.assetFull {
    margin: auto;
    margin-bottom: $spacer * 2;
    max-width: $break-point--small;

    .asset__img {
        max-height: none;
    }
}

.assetFullTitle {
    font-size: $font-size-h3;
}

.assetFullLabel {
    display: block;
    font-family: $font-family-button;
    text-transform: uppercase;
    color: $brand-grey-light;
    margin-top: $spacer;
}

.assetFullActions {
    margin-top: $spacer;
}
