@import 'variables';

.assetfull {
    margin: auto;
    max-width: $break-point--small;

    .asset__img {
        max-height: none;
    }
}

.assetfull__title {
    font-size: $font-size-h3;
}

.assetfull__label {
    display: block;
    font-family: $font-family-button;
    text-transform: uppercase;
    color: $brand-grey-light;
    margin-top: $spacer;
}
