@import 'variables';

.assetFull {
    margin: auto;
    margin-bottom: $spacer * 2;
    max-width: $break-point--small;

    .asset__img {
        max-height: none;
    }
}

.assetFullTitle {
    font-size: $font-size-h3;
    margin-bottom: $spacer;
}

.assetFullActions {
    margin-top: $spacer;
}
