@import 'variables';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: $font-size-root;
}

body {
    color: $brand-black;
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    line-height: 1.5;
    background: $brand-white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;

    @media screen and (min-width: $break-point--small) {
        padding: $page-frame;
    }
}

a {
    text-decoration: none;
    color: $brand-pink;
    transition: .2s ease-out;

    &:hover,
    &:focus {
        color: darken($brand-pink, 15%);
        text-decoration: none;
        transform: translate3d(0, -.1rem, 0);
    }

    &:active {
        color: darken($brand-pink, 15%);
        text-decoration: none;
        transform: none;
        transition: none;
    }
}

p {
    margin: 0;
    margin-bottom: $spacer / 2;
}

strong,
.strong {
    font-family: $font-family-button;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-title;
    color: inherit;
    line-height: 1.25;
    font-weight: 600;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}
