@import 'variables';

.account--item {
    display: grid;
    grid-template-columns: 38px 20% auto;
    div {
        padding: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.account--item--balance {

}