@import 'variables';

$breakpoint-small: 50rem;

.account {
    padding: $spacer / 2;
    background: lighten($brand-grey-lighter, 8%);
    border-radius: 2px;
    border: 1px solid $brand-grey-lighter;
    margin-bottom: $spacer / 2;
    cursor: pointer;
    width: 100%;
    box-shadow: none;
    color: $brand-grey;
    font-size: $font-size-base;
    text-align: left;
    display: block;

    @media (min-width: $breakpoint-small) {
        flex: 1 0 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: $spacer / 2;
    }

    &:hover,
    &:focus {
        background: $brand-gradient;

        * {
            color: $brand-white;
        }
    }
}

.account__image,
.account__title {
    display: block;

    @media (min-width: $breakpoint-small) {
        display: inline-block;
    }
}

.account__balance {
    @media (min-width: $breakpoint-small) {
        text-align: right;
    }
}

.account__title {
    font-size: $font-size-base;
    margin: 0;
    width: 100%;

    @media (min-width: $breakpoint-small) {
        margin-left: $spacer / 2;
        margin-right: $spacer / 2;
    }
}
