@import 'variables';

.account {
    flex: 1 0 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacer / 2;
    border: 1px solid $brand-pink;
    border-radius: 2px;
    margin-bottom: $spacer / 2;
    margin-left: $spacer / 2;
    cursor: pointer;

    &:hover,
    &:focus {
        background: $brand-grey-dark;
    }
}

.account__image,
.account__title {
    display: inline-block;
}

.account__balance {
    text-align: right;
}

.account__title {
    font-size: $font-size-base;
}
