@import 'variables';

.assets {
    counter-reset: assets;
}

.asset {
    background: lighten($brand-grey-lighter, 8%);
    border-radius: 2px;
    padding: $spacer;
    color: $brand-grey;
    transition: .2s ease-out;

    &:before {
        counter-increment: assets;
        content: counter(assets);
        font-size: $font-size-h3;
        margin-right: $spacer;
        color: $brand-grey-light;
    }

    &:hover,
    &:focus {
        background: $brand-purple;

        * {
            color: $brand-white;
        }
    }
}

.asset--full {
    background: none;
    display: block;

    &:before {
        display: none;
    }
}

.asset__header {
    margin-bottom: $spacer;
}

.asset-grid {
    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        margin-left: -$spacer * 2;
    }
}

.asset-grid__col {
    margin-bottom: $spacer * 2;

    @media (min-width: $break-point--small) {
        flex: 1;
        margin-left: $spacer * 2;
        margin-bottom: 0;
    }
}

.asset__label {
    display: block;
    font-family: $font-family-button;
    text-transform: uppercase;
    color: $brand-grey-light;
}

.asset__actions {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.asset__graph {
    background: $brand-grey-light;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset__name {
    margin: 0;
    font-size: $font-size-h5;
    color: $brand-purple;
}

.asset__caption {
    margin: 0;
    margin-top: $spacer / 6;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

.asset__publisher,
.asset__date {
    color: $brand-grey-light;
    font-size: $font-size-small;
}

.asset__footer {
    margin-top: $spacer / 2;
    padding-top: $spacer / 2;
    border-top: 1px solid $brand-grey-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
        flex: 1;
    }
}

.asset__symbol {
    font-size: $font-size-h4;
}

.asset__change {
    &.positive {
        color: $green;
    }

    &.negative {
        color: $red;
    }
}
