@import 'variables';

.assets {
    counter-reset: assets;
}

.asset {
    background: $brand-grey-lighter;
    padding: $spacer;
    border-radius: 2px;
    margin-bottom: $spacer / 2;
    display: flex;
    color: $brand-grey;

    &:before {
        counter-increment: assets;
        content: counter(assets);
        font-size: $font-size-h3;
        margin-right: $spacer;
        color: $brand-grey-light;
    }
}

.asset--full {
    background: none;
    display: block;

    &:before {
        display: none;
    }
}

.asset-grid {
    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        margin-left: -$spacer * 2;
    }
}

.asset-grid__col {
    margin-bottom: $spacer * 2;

    @media (min-width: $break-point--small) {
        flex: 1;
        margin-left: $spacer * 2;
        margin-bottom: 0;
    }
}

.asset__label {
    display: block;
    font-family: $font-family-button;
    text-transform: uppercase;
    color: $brand-grey-light;
}

.asset__actions {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.asset__graph {
    background: $brand-grey-light;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset__name {
    margin: 0;
    font-size: $font-size-h4;
    line-height: 1.5;
}

.asset__id {
    display: block;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}
