@import 'variables';

.footer {
    color: rgba($brand-grey-light, .8);
    width: 100%;
    align-self: flex-end;
    text-align: center;
    padding-top: $spacer;
    padding-bottom: $spacer / 2;
    border-top: .1rem solid lighten($brand-grey-lighter, 5%);

    @media screen and (min-width: $break-point--small) {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    &,
    small {
        font-size: $font-size-mini;
    }

    a {
        color: inherit;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.footer__links {
    margin-top: $spacer / 2;

    @media screen and (min-width: $break-point--small) {
        text-align: right;
        margin-top: 0;
    }

    a {
        padding: 0 $spacer / 4;

        &:last-child {
            padding-right: 0;
        }
    }
}
