@import 'variables';

.header {
    background: $brand-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer;
    width: 100%;
    padding: $spacer / 2;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.header__logo__image {
    height: 60px;
}

.header__title {
    display: inline-block;
    font-size: $font-size-h4;
    color: $brand-white;
    margin-left: $spacer;
}

.header__menu {
    text-align: right;
    color: $brand-grey-light;
    justify-self: flex-end;

    a {
        font-family: $font-family-button;
        display: inline-block;
        padding: 0 $spacer;
        color: $brand-grey-lighter;

        @media screen and (min-width: $break-point--small) {
            padding-top: $spacer / 4;
            padding-bottom: $spacer / 4;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover,
        &:focus {
            color: $brand-white;
        }
    }
}

.header__menu__user {
    display: block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-small;

    @media screen and (min-width: $break-point--small) {
        display: inline;
    }
}
