@import 'variables';

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer;
    width: 100%;

    @media screen and (min-width: $break-point--small) {
        margin-bottom: $spacer / 2;
    }
}

.header__logo {
    display: block;
}

.header__logo__image {
    height: 60px;
}

.header__menu {
    text-align: right;
    color: $brand-grey-light;

    a {
        font-family: $font-family-button;
        display: inline-block;
        padding: 0 $spacer;
        color: $brand-grey-lighter;

        @media screen and (min-width: $break-point--small) {
            padding-top: $spacer / 4;
            padding-bottom: $spacer / 4;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover,
        &:focus {
            color: $brand-white;
        }
    }
}

.header__menu__user {
    display: block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-small;

    @media screen and (min-width: $break-point--small) {
        display: inline;
    }
}
