@import 'variables';

html,
body {
    height: 100%;
}

.layout {
    padding: $spacer / 2;
    max-width: $break-point--huge;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1;
}

.narrow {
    margin: auto;
    margin-bottom: $spacer * 2;
    max-width: $break-point--small;
}

.layoutSidebar {
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
    margin-bottom: $spacer / 2;
    padding-bottom: $spacer / 2;
    text-align: center;
    border-bottom: .1rem solid lighten($brand-grey-lighter, 5%);

    @media (max-width: $break-point--small) {
        // yummy scrolling
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        display: none;
    }
}
