@import 'variables';

.layout {
    padding: $spacer / 2;
    max-width: $break-point--huge;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $break-point--small) {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}

.layout__sidebar {
    // yummy scrolling
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: $spacer / 2;
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
    padding-bottom: $spacer / 2;
    text-align: center;
    border-bottom: .1rem solid lighten($brand-grey-lighter, 5%);

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        display: none;
    }

    @media (min-width: $break-point--small) {
        flex: 1 1 26%;
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: $spacer;
        padding-bottom: $spacer;
        border-right: .1rem solid lighten($brand-grey-lighter, 5%);
        white-space: normal;
        overflow: visible;
        text-align: left;
    }
}

.layout__content {
    @media (min-width: $break-point--small) {
        flex: 1 1 70%;
        padding: $spacer;
        padding-right: $spacer / 2;
    }
}
