@import 'variables';

.screenHeader {
    margin-top: $spacer;
    margin-bottom: $spacer;

    @media (min-width: $break-point--small) {
        max-width: 35rem;
    }
}

.screenTitle {
    margin-top: 0;
    margin-bottom: $spacer / 4;
    font-size: $font-size-h3;
}

.screenSubtitle {
    font-size: $font-size-large;
    color: $brand-grey-light;
    margin: 0;
}
