@import 'variables';

.empty {
    width: 100%;
    text-align: center;
    color: $brand-grey-light;
    max-width: 35rem;
    margin: $spacer * 2 auto;
}

.emptyTitle {
    font-size: $font-size-h4;
    margin-bottom: $spacer / 2;
}
