@import 'variables';

.form__label {
    color: $brand-grey;
    font-size: $font-size-base;
    font-family: $font-family-title;
    line-height: 1.2;
    display: block;
    margin-bottom: $spacer / 10;
}
