@import 'variables';
@import 'forms';

.input-wrap {
    background: $brand-gradient;
    border-radius: 2px;
    width: 100%;
    padding: 2px;
    display: flex;

    &.is-focused {
        background: $brand-black;
    }
}

.input {
    font-size: $font-size-base;
    font-family: $font-family-button;
    color: $brand-black;
    border: none;
    box-shadow: none;
    width: 100%;
    background: $brand-white;
    padding: $spacer / 3;
    margin: 0;
    border-radius: 2px;
    transition: .2s ease-out;
    min-height: 43px;

    &:focus {
        border: none;
        box-shadow: none;
        outline: 0;
    }

    &::placeholder {
        font-family: $font-family-base;
        font-size: $font-size-base;
        color: $brand-grey-light;
        font-weight: $font-weight-base;
        transition: .2s ease-out;
    }

    &[readonly] {
        background-color: $brand-grey-lighter;
        cursor: not-allowed;
        pointer-events: none;
    }

    // &::-webkit-credentials-auto-fill-button,
    // &::-webkit-caps-lock-indicator {
    //     background: $brand-white;
    // }

    // &:-webkit-autofill,
    // &:-webkit-autofill:hover,
    // &:-webkit-autofill:focus {
    //     -webkit-text-fill-color: $brand-white;
    //     box-shadow: 0 0 0 1000px $brand-black inset;
    //     transition: background-color 5000s ease-in-out 0s;
    // }
}

// stylelint-disable-next-line
select.input {
    height: 43px;
    font-family: $font-family-base;
}
