@import 'variables';

.app {
    color: $brand-grey;
    height: 100%;
    min-height: 100vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    @media screen and (min-width: $break-point--small) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: calc(100vh - #{$page-frame * 2});
    }
}
