*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  color: #141414;
  font-size: 1rem;
  font-family: "Sharp Sans Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0; }
  @media screen and (min-width: 640px) {
    body {
      padding: 0.75rem; } }

.App {
  background: #141414;
  color: #fff;
  padding: 1.5rem 1.125rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  min-height: 100vh; }
  @media screen and (min-width: 640px) {
    .App {
      min-height: calc(100vh - 1.5rem);
      padding: 1.5rem 2.25rem; }
      .App:before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
        height: 0.75rem;
        z-index: 10; } }

a {
  text-decoration: none;
  color: #ff4092;
  transition: .2s ease-out; }
  a:hover, a:focus {
    color: #f30068;
    text-decoration: none;
    transform: translate3d(0, -0.1rem, 0); }
  a:active {
    color: #f30068;
    text-decoration: none;
    transform: none;
    transition: none; }

p {
  margin: 0;
  margin-bottom: 1rem; }

strong,
.strong {
  font-family: "Sharp Sans Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sharp Sans Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: inherit;
  line-height: 1.25;
  font-weight: 600; }

h1 {
  font-size: 3.4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.125rem; }

.screen {
  margin: 0 auto 2rem auto;
  width: 100%;
  flex: 1;
  max-width: 70rem; }
