@import 'variables';

.form {
    background: $brand-white;
    color: $brand-grey;
    max-width: 35rem;
}

.form__title {
    margin-top: 0;
    padding-bottom: $spacer / 4;
    font-size: $font-size-h4;
}

.form__group {
    margin-bottom: $spacer / 1.5;
}

.input-group {
    @media screen and (min-width: $break-point--small) {
        display: flex;
        align-items: flex-start;
    }

    .input-wrap,
    .input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media screen and (min-width: $break-point--small) {
            border-bottom-left-radius: 2px;
            border-top-right-radius: 0;
        }
    }

    .button {
        display: block;
        width: 100%;
        margin-top: -2px;

        @media screen and (min-width: $break-point--small) {
            width: 40%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
            margin-top: 0;
        }
    }
}
